body{
	margin:0;
	font-family:tahoma, sans-serif;
	background:#F2F2F2;
}
span{
	background:#cfcfcf;
	padding:4px;
	margin-right:5px;
	border-radius:20px;
}
.container{
	width:80%;
	margin:0 auto;
	overflow:hidden;
}
.header{
	padding-top:15px;
	padding-bottom:15px;
	overflow:hidden;
	border-bottom:2px solid #A7946D;
}
.profile_img{
	width:12%;
	float:left;
}
.profile_img img{
	width:100%;
	border-radius:50%;
	height:122px;
}
.title{
	margin-left:20px;
	width:64%;
	float:left;
}
.address{
	width:20%;
	float:left;
}
.content{
	padding-top:5px;
	padding-bottom:5px;
	overflow:hidden;
	border-bottom:2px solid #dddddd;
}
.info_title{
	width:25%;
	float:left;
	color:#A7946D;
	font-style:italic;
}
.info_detail{
	width:75%;
	float:left;
}
.info_detail p{
	color:#0d0d0d;
}
.mail-me{
	width:40%;
	margin:0 auto;
	background-color: #f2f2f2;
    padding: 20px;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #A7946D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #A7906D;
}
.footer{
	background:#D3D3D3;
	text-align:center;
	color:#ffffff;
	padding-top:10px;
	padding-bottom:10px;
}